h1 {
	color: #333;
}

/* 
 * box-sizing: border-box: width와 height 속성이 padding과 border를 포함.
 * 선언한 width 값에 padding을 주더라도 자동으로 실제 컨텐츠 부분의 width가 줄어들면서 padding이 안쪽으로 파고 들게 되어, 
 * 실제 웹에서 보여지는 width 값이 선언값 그대로 유지.
 */
* {
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
	font-size: 18px;
	line-height: 1.58;
	background: #E6E6E6;
	color: #333;
}

i {
	vertical-align: middle;
	color: #353b62;
}

input {
	border: 1px solid #E8E8E8
}

.page-title {
	text-align: center;
}

.material-icons {
    /* display: inline-flex; */
    font-size: 18px !important;
    line-height: 1.58 !important;
    /* vertical-align: bottom; */
}

/* Todo Modal */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
	background-color: #FFF;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 40px;
	border: 1px solid #888;
	width: 50%; /* Could be more or less, depending on screen size */
	height: calc(70% - 130px);;
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

/* Select Box */
.search-select {
	width: 13%;
	padding: .5em .3em; /* 여백으로 높이 설정 */
	border: 1px solid #E8E8E8;
	font-family: inherit; 
	background: url(/image/search-black-18dp.svg) no-repeat 95% 50%; /* 커스텀 이미지로 대체 */
	border-radius: 0px;
	-webkit-appearance: none; /* Safari & Chrome */
	-moz-appearance: none; /* Firefox */
	appearance: none;
	cursor: pointer;
	outline: none;
	padding-left: 11px;
	font-weight: bold;
}

.select-button {
	height: 25px;
	outline: none;
	cursor: pointer;
}

/* Sort */
.todo-sort {
	padding-left: 200px;
}

.sort-select {
	width: 13%;
	padding: .5em .3em; /* 여백으로 높이 설정 */
	border: 1px solid #E8E8E8;
	font-family: inherit; 
	background: url(/image/sort-24px.svg) no-repeat 95% 50%; /* 커스텀 이미지로 대체 */
	border-radius: 0px;
	-webkit-appearance: none; /* Safari & Chrome */
	-moz-appearance: none; /* Firefox */
	appearance: none;
	cursor: pointer;
	outline: none;
	padding-left: 11px;
	font-weight: bold;
}

/* tooltip */
.ui-tooltip-content {
	font-size: 10pt;
	font-family: Calibri;
	color: #5d605f;
	position: my;
	font-weight: bold;
}

/* todo-content: 24 */

.todo-content {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
	margin-top: 60px;
	background-color: #FFF;
	padding: 15px;
	box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
}

.todo-content .todo-create {
	padding-bottom: 30px;
	border-bottom: 1px solid #E8E8E8;
}

.todo-content .form-control {
	width: 100%;
	height: 50px;
}

.todo-content ul {
	list-style: none;
	margin: 0;
	padding: 0;
	max-height: 450px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: -15px;
	margin-right: -15px;
	overflow-y: scroll;
}

.todo-content ul li {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #E8E8E8;
}

.todo-content ul li span {
	display: inline-block;
	vertical-align: middle;
}

.todo-content .todo-title {
	width: calc(66% - 130px);
	margin-left: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.todo-content .todo-modal-title {
	width: calc(100% - 130px);
	margin-left: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.todo-content .todo-id {
	/* margin-left: 20px; */
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;
	display: inline-block;
	font-size: 17px;
}

.todo-content .todo-info {
	margin-left: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;
	display: inline-block;
	font-size: 13px;
}

.todo-content .modal-todo-info {
	/* margin-left: 20px; */
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;
	display: inline-block;
	font-size: 13px;
}

.todo-content .todo-complteted {
	display: inline-block;
	text-align: center;
	width: 35px;
	height: 35px;
}

.todo-content .todo-completed i {
	font-size: 20px;
}

.todo-content .todo-actions{
	float: right;
}

.todo-content .todo-actions i{
	font-size: 17px;
}

.todo-content .todo-actions a {
	display: inline-block;
	text-align: center;
	width: 35px;
	height: 35px;
	cursor: pointer;
}

.todo-content .todo-search {
	padding-bottom: 15px;
	border-bottom: 1px solid #E8E8E8;
	width: 100%;
}


/*****/

.todo-child {
	margin-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #0B87A1;
    cursor: pointer;
    font-size: 14px;
}

.todo-child-completed {
	text-decoration: line-through;
	color: #111111;
}
  
.todo-content .input-search {
	display: inline-block;
	width: 20%;
	height: 26px;
	font-size: 12px;
	padding-left: 10px;
	position: relative;
	top: 1px;
	outline: none;
	border: 1px solid #E8E8E8;
}

.input-search:focus {
	border: 1px solid #626262;
}

/* Effect Pointer */
.editable,
.select-page,
.select-sort {
	cursor: pointer;
}

a.active > i {
	background-color: #7e837f;
	color: white;
}

/* completed */
li.completed .todo-title,
li.completed .todo-modal-title {
	text-decoration: line-through;
	color: #757575;
}

.toggle-completed-checkbox:before {
	content: 'check_box_outline_blank';
}

li.completed .toggle-completed-checkbox:before {
	content: 'check_box';
}

/* pagination */
.pagination {
	padding-top: 11px;
	display: block;
	text-align: center;
}

.pagination a {
	color: #485A74;
	float: none;
	padding: 8px 16px;
	text-decoration: none;
}

.pagination a.active {
	background-color: #7e837f;
	color: white;
}

.pagination a:hover:not(.active) {
	background-color: #ddd
}

/* form-control */

.form-control {
	font-size: 16px;
	padding-left: 15px;
	outline: none;
	border: 1px solid #E8E8E8;
}

.form-control:focus {
	border: 1px solid #626262;
}