<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Teemo Todo App</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />

<!--For Tooltip -->
<link type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<!--For Date Format -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<!--For jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<!--For material icon-->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<!--For Date Picker -->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<!-- todo.js File -->
<script th:src="@{/js/todo.js}"></script>
</head>

<body>
	<div class="todo-content">
		<h1 class="page-title">Teemo</h1>
		
		<div class="todo-search">
			<select id="search-option" name="search-option" class="search-select">
				<option value="option">    Option	</option>
				<option value="doing">	   Doing	</option>
				<option value="done">	   Done		</option>
				<option value="date">	   Date		</option>
				<option value="task_name"> TaskName </option>
			</select>
			<input type="text" id="input_task_name" placeholder="Input task name to search" class="input-search"/>
			<input type="text" id="datepicker_from" placeholder="From" 						class="input-search"/>
			<input type="text" id="datepicker_to"   placeholder="To" 						class="input-search"/>
			<input type="button" value="Search" class="select-button" onclick="doSearch();">
			
			<span class="todo-sort">
				<select id="sort-option" name="sort-option" class="sort-select">
					<option value="createdAt">    createdAt	</option>
					<option value="updatedAt">	  updatedAt	</option>
					<option value="taskName">	  taskName  </option>
				</select>
				<a class="select-sort" id="asc" onclick="doSort('asc');"><i class="material-icons" >arrow_upward</i></a>
				<a class="select-sort" id="desc" onclick="doSort('desc');"><i class="material-icons" >arrow_downward</i></a>
			</span>
		</div>

		<div class="todo-create">
			<form action="#">
				<input type="text" id="taskNameTextField" class="form-control" onkeypress="handleEnterKey(event)" placeholder="Input task name then tap Enter to add">
			</form>
		</div>
		
		<ul class="todo-list"></ul>
		
		<div class="pagination"></div>
		
		<div id="todo-modal" class="modal">
			<div id="modal-task-list" class="modal-content">
				<span class="close">&times;</span>
				<ul class="task-list"></ul>
			</div>
		</div>
	</div>
</body>
</html>